.footer{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    top: 270%;
    transform: translate(-50%, -50%);
    background-color:rgb(240, 239, 239);
    justify-content: space-between;
    column-gap: 80px;
    padding-bottom: 10px;
}
